{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}


{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="/fileset/{{ original.id }}/markcomplete" class="historylink">Mark as Complete</a></li>
    <li><a href="/admin/cedainfoapp/audit/?fileset__exact={{original.pk}}" class="historylink">Audits</a></li>
    <li><a href="/admin/cedainfoapp/partition/{{ original.partition.id }}" class="historylink">On {{ original.partition.mountpoint }}</a></li>
    {%if original.dataentity %}<li><a href="/admin/cedainfoapp/dataentity/{{ original.dataentity.id }}" class="historylink">Data Entity</a></li>{%endif%}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}

Current number of files: {{ original.last_size.no_files }}
Current volume: {{ original.last_size.size }}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <div id="size_history" style="width: 900px; height: 500px"></div>


    <script type="text/javascript">
      google.charts.load('current', {'packages':['line', 'corechart']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', "Volume");
      data.addColumn('number', "Allocation");
      data.addColumn('number', "Number");

            data.addRows([
{% for fssm in fssms %}          [new Date({{fssm.date.year}},{{fssm.date.month|add:"-1"}},{{fssm.date.day}}), {{fssm.size}}, {{fssm.alloc|default:0}}, {{fssm.no_files|default:0}}],
{% endfor %}
            ]);

      var options = {
        chart: {
          title: 'Fileset Size History'
        },
        width: 900,
        height: 500,
        series: {
          // Gives each series an axis name that matches the Y-axis below.
          0: {axis: 'Vol'},
          1: {axis: 'Vol'},
          2: {axis: 'Number'}
        },
        axes: {
          // Adds labels to each axis; they don't have to match the axis names.
          y: {
            Vol: {label: 'Volume'},
            Number: {label: 'Number of files'}
          }
        }
      };
        var chart = new google.charts.Line(document.getElementById('size_history'));
        chart.draw(data, options);
    }
    </script>


{% endblock %}


{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}


{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
