{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}


{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="/fileset/{{ original.id }}/markcomplete" class="historylink">Mark as Complete</a></li>
    <li><a href="/admin/cedainfoapp/partition/{{ original.partition.id }}" class="historylink">On {{ original.partition.mountpoint }}</a></li>
    {%if original.dataentity %}<li><a href="/admin/cedainfoapp/dataentity/{{ original.dataentity.id }}" class="historylink">Data Entity</a></li>{%endif%}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %} 
{{ original.last_size }} used of {{ original.overall_final_size|filesizeformat }} allocated.


<script type="text/javascript"
  src="/files/javascript/dygraph-combined.js"></script>

<table><tr><td>
<div id="graphdiv"></div>
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    "Date,Volume,Expected Volume\n" +
 {% for fssm in fssms %} "{{fssm.date.year}}-{{fssm.date.month|add:-1}}-{{fssm.date.day}}, {{fssm.size}}, {{fssm.fileset.overall_final_size}}\n" +
{% endfor %}
    ""
  );
</script>
</td>

<td>
<div id="graphdiv2"></div>
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv2"),

    // CSV or path to a CSV file.
    "Date,Number of files\n" +
 {% for fssm in fssms %} "{{fssm.date.year}}-{{fssm.date.month|add:-1}}-{{fssm.date.day}}" +
{% endfor %}
    ""
  );

</script>
</td></tr></table>
<div id="demodiv" style="width: 640; height: 350; border: 1px solid black"></div>

    <script type="text/javascript">
      var data = [];
        // two series, one with range 1-100, one with range 1-2M
{% for fssm in fssms %}  data.push([new Date({{fssm.date.year}},{{fssm.date.month|add:-1}},{{fssm.date.day}}),
                   {{fssm.size}},
                   {{fssm.fileset.overall_final_size}},
                   {{fssm.no_files|default:0}},
                   0 ]);
{% endfor %}


      g = new Dygraph(
          document.getElementById("demodiv"),
          data,
          {
     //       labels: [ 'Date', 'Y1', 'Y2', 'Y3', 'Y4' ],
     //       'Y3': {
     //         axis: {
     //         }
     //       },
     //       'Y4': {
     //         axis: 'Y3'  // use the same y-axis as series Y3
     //       },
     //       axes: {
     //         y2: {
     //           // set axis-related properties here
     //           labelsKMB: true
      //        }
     //       },
            ylabel: 'Primary y-axis',
            y2label: 'Secondary y-axis',
            yAxisLabelWidth: 60
          }
      );
</script>

{% endblock %}


{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}


{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
