asgiref==3.8.1
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
Django==4.2.26
django-easy-audit==1.3.5
django-extensions==3.0.5
django-multiselectfield==0.1.12
django-sizefield==2.1.0
django-upgrade==1.29.1
dnspython==2.1.0
idna==3.10
-e git+ssh://git@gitlab.ceda.ac.uk/cedadev/keycloak-user-utils.git@a994e670509bd60bee6cf3efcf8c556699b2ae43#egg=keycloak_user_utils
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
python-dateutil==2.8.1
python-ldap==3.3.1
pytz==2025.2
requests==2.32.3
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
text-unidecode==1.3
tokenize_rt==6.2.0
typing_extensions==4.13.2
Unidecode==1.3.8
urllib3==2.4.0
