{% extends "base_site.html" %}

{% block content %}


{% if ext_users and int_users %}

    <font size="3"><b>Next UID to use: {{next_uid}}</font></b>

    </p>
    Free uids in range: {{free_count}}
    </p>
{% else %}
    <font color="red" size="4">
    Error - unable to read entries from internal/external NIS.</font><p/>
    See <a href="http://team.ceda.ac.uk/trac/ceda/wiki/opman/CEDAinfoDB">installation information</a> in the operations manual for details.
    
    <p/>   
    </font> 
{% endif %}


<table border="1">
<th>UID</th><th>udb accountid</th><th>External NIS</th><th>Internal NIS</th>

{% for rec in output %}

{% if rec.uid == next_uid %}
   <tr bgcolor="green">
{% elif rec.free %}
   <tr bgcolor="#E0EDC5">
{% else %}
   <tr>
{% endif %}

<td>{{rec.uid}}</td>
<td><a href="/admin/udbadmin/user/{{rec.userkey}}" title="View udb details">{{rec.accountid}}</a></td>

{% if rec.ext_nologin %}
    <td bgcolor="#F49F9C">{{rec.ext_accountid}}</td>
{% else %}
    <td>{{rec.ext_accountid}}</td>
{% endif %}


{% if rec.int_nologin %}
    <td bgcolor="#F49F9C">{{rec.int_accountid}}</td>
{% else %}
    <td>{{rec.int_accountid}}</td>
{% endif %}

</tr>

{% endfor %}
</table>

{% endblock %}
