{% extends "base_site.html" %}

{% block content %}


{% if not ext_groups and int_groups %}

    <font size="3"><b>Next GID to use: {{next_gid}}</font></b>

    </p>
    Free gids in range: {{free_count}}
    </p>
{% else %}
    <font color="red" size="4">
    Error - unable to read entries from internal/external NIS.</font><p/>
    See <a href="http://team.ceda.ac.uk/trac/ceda/wiki/opman/CEDAinfoDB">installation information</a> in the operations manual for details.
    
    <p/>   
    </font> 
{% endif %}


<table border="1">
<th>gid</th><th>Internal NIS</th><th>External NIS</th>

{% for rec in output %}

{% if rec.gid == next_gid %}
   <tr bgcolor="green">
{% elif rec.free %}
   <tr bgcolor="#E0EDC5">
{% else %}
   <tr>
{% endif %}

<td>{{rec.gid}}</td>

<td>{{rec.int_group}}</td>

<td>{{rec.ext_group}}</td>

</tr>

{% endfor %}
</table>

{% endblock %}
