{% extends "base_site.html" %}

{% block content %}

<h1>Free UIDS</h1>

Next UID to use: {{next_uid}}

<p/>
Free uids in range: {{free_count}}

<table border="1">
<th>UID</th><th>udb accountid</th><th>External NIS</th><th>Internal NIS</th>

{% for rec in output %}

{% if rec.uid == next_uid %}
   <tr bgcolor="green">
{% elif rec.free %}
   <tr bgcolor="#E0EDC5">
{% else %}
   <tr>
{% endif %}

<td>{{rec.uid}}</td>
<td><a href="/admin/udbadmin/user/{{rec.userkey}}" title="View udb details">{{rec.accountid}}</a></td>

{% if rec.ext_nologin %}
    <td bgcolor="#F49F9C">{{rec.ext_accountid}}</td>
{% else %}
    <td>{{rec.ext_accountid}}</td>
{% endif %}


{% if rec.int_nologin %}
    <td bgcolor="#F49F9C">{{rec.int_accountid}}</td>
{% else %}
    <td>{{rec.int_accountid}}</td>
{% endif %}

</tr>

{% endfor %}
</table>

{% endblock %}
