{% extends "base_site.html" %}

{% block content %}

<h1>LDAP users</h1>


<form method="post">
Display users with tag: {{myform.tagname }}
<input type="Submit" value="Go">
</form>
<p>
Number of users: {{users|length}}
<p>
<table border="1">
<th>Userdb<th>Account<th>UID<th>Name<th>LDAP groups
{% for user in users %}

<tr>
<td><a href="/admin/udbadmin/user/?accountid={{user.uid.0}}" title="View/Edit user details in userdb">View</a>

<td><a href="/udbadmin/ldap/user/{{user.uid.0}}" title="View user details in LDAP database">{{ user.uid.0 }}</a>
<td>{{ user.uidNumber.0 }}
<td>{{ user.gecos.0 }}

<td>
{% for group in user.groups %}
<a href="/udbadmin/jasmin/group/{{group.cn.0}}">{{  group.cn.0 }}</a>
{% endfor %}


{% endfor %}

</table>

{% endblock %}
