{% extends "base_site.html" %}

{% block content %}

<h1>List public keys</h1>
<p>
This table lists the public keys for all users with JASMIN/CEMS accounts. You can sort the
information in the table by clicking on the appropriate column heading. Sort by the key length to check
for any invalid keys. A key length of zero indicates that the public key is not valid according to ssh-keygen.
<p>

{% if warning_count > 0 %}

    <table>
    <tr bgcolor="#F9C7C2">
    <td>
    There are {{warning_count}} warnings of possible mismatches between the public key in the userdb and the
    public key on the ldap server. Warnings are highlighted below.
    </td>
    </tr>
    </table>
{% endif %}
<p>
<table cellspacing="0" border="1">
<thead>

{% for header in headers %}
   <th{{ header.class_attr }}>
     {% if header.sortable %}<a href="{{ header.url|escape }}" title="Click to sort by this column">{% endif %}
     {{ header.text }}
     {% if header.sortable %}</a>{% endif %}
   </th>{% endfor %}
</tr>

</thead>

<tbody>
{% for user in cedausers %}

    {% if user.key_length == 0 %}   
        <tr bgcolor="#F9C7C2">
    {% else %}
        <tr>
    {% endif %}
        
    <td><a href="/admin/udbadmin/user/{{user.cedauser.userkey}}">{{user.cedauser.userkey}}</a>
    <td>{{user.cedauser.accountid}}
    <td>{{user.cedauser.uid}}
    <td nowrap>{{user.cedauser.startdate|date:"d-M-Y H:i"}}
    <td>{{user.cedauser.emailaddress}}
    <td>{{user.key_length}}
    <td>    
    {% if user.public_key_differs %}  
        Userdb: {{user.cedauser.public_key}}<br>
        ldapdb: {{user.ldap_public_key}}<br> 
    {% else %}
        {{user.cedauser.public_key}} 
    {% endif %}   

</tr>
{% endfor %}
</tbody>

</table>

{% endblock %}
