{% if cedauser %}

<blockquote>
<table border="1" cellspacing="5" bgcolor="#ebecf6">

<tr><td colspan="4" align="left"><font size="3"><b>User details</b></font> &nbsp; <a href="/admin/udbadmin/user/{{cedauser.userkey}}" title="View/edit user details">Full details</a></td>
</tr>

<tr><td><b>Userkey:</b></td><td>{{cedauser.userkey}} </td>
<td><a href="/udbadmin/user/datasets/current/{{ cedauser.userkey }}">Current datasets</a>:</td><td> {{ cedauser.currentDatasets|length }}</td>
</tr>

<tr><td><b>Name:</b></td><td>{{ cedauser.displayName }}</td>
<td><a href="/udbadmin/authorise/{{ cedauser.userkey }}">Pending datasets</a>:</td><td> {{ cedauser.pendingDatasets|length }}</td>
</tr>

<tr><td><b>Email:</b></td><td><a href="mailto:{{ cedauser.emailaddress }}">{{ cedauser.emailaddress }}</a></td>
<td><a href="/udbadmin/user/datasets/removed/{{ cedauser.userkey }}">Removed datasets</a>:</td><td> {{ cedauser.removedDatasets|length }}</td>
</tr>

<tr><td><b>AccountID/type:</b></td><td>{{ cedauser.accountid }} &nbsp; ({{ cedauser.accounttype }})</td>
</tr>


</table>
</blockquote>
<p/>              
{% endif %}        
