<html>
<head>
<title>Change password</title>
</head>
<body>
  
  <em>
  Your password can only contain letters, digits and the following characters:
   &nbsp; - _ \$ \& = + > < ?
  <br>
  The password must be between six and thirteen characters in length. The password is case
  sensitive. If you use any of the collaborative workspaces set up by the BADC
  then your password will also be updated automatically within a few minutes.
  </em>

<form action="." method="post">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>

   <p>
   Please note that changing your password via this form will only affect 
   login via our website. 
    Passwords for system accounts on our Unix server machine are handled separately.
  To change the password of your Unix account please login to 
  <em>login.badc.rl.ac.uk</em> and use
  the  <em>yppasswd</em> command. 
  (please do <b>not</b> use the <em>passwd</em> command).
  </em>


{% if passwordset %}
  <p>
  Password set - back to <a href="/userdb/user/{{ user.username }}">{{user}}</a> 
  </p>
{% endif %}


</body>
</html>
