<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
 <head>
  <title>Role : {{role}}</title>
 </head>

 <body>
 <h1>Role : {{role}}</h1>

<table>
<tr>
	<td>Name</td>
	<td>{{role.name}}</td>
</tr>
<tr>
	<td>Description</td>
	<td>{{role.description}}</td>
</tr>
<tr>
	<td>Source</td>
	<td>{{role.source}}</td>
</tr>
<tr>
	<td>Comments</td>
	<td>{{role.comments}}</td>
</tr>
<tr>
	<td>Directory</td>
	<td>{{role.directory}}</td>
</tr>
<tr>
	<td>Conditions</td>
	<td>{{role.conditions}}</td>
</tr>
<tr>
	<td>Data Centre</td>
	<td>{{role.datacentre}}</td>
</tr>
<tr>
	<td>Info URL</td>
	<td>{{role.infourl}}</td>
</tr>
</table>

 </body>
</html>
