<html>
<head>
<title>My BADC</title>
</head>
<body>
<table width="100%">
  <!-- main layout table -->
  <tr>
    <td valign="top" width="35%">
	  <!-- leftmost of 3 major columns -->
 	  <table cellpadding="2">
        <tr>
          <td><b>Name:</b></td>
          <td>{{ user }}</td>
	</tr>  
        <tr>
          <td><b>Email:</b></td>
          <td>{{ user.emailaddress }}</td>
	</tr>  
        <tr>
          <td><b>Discipline:</b></td>
          <td>{{ user.field }}</td>
	</tr>  
        <tr>
          <td><b>Institute:</b></td>
          <td>{{ user.institute.name }}</td>
	</tr>  
        <tr>
          <td><b>Country:</b></td>
          <td>{{ user.institute.country }}</td>
	</tr>  
        <tr>
          <td valign="top"><b>Address:</b></td>
          <td>{{ user.address }}</td>
 	</tr>  
       <tr>
          <td><b>Telephone:</b></td>
          <td>{{ user.tel }}</td>
	</tr>  
        <tr>
          <td><b>Studying for degree:</b></td>
          <td>{{ user.studying_for }}</td>
	</tr>  
        <tr>
          <td><b>Supervisor:</b></td>
          <td>{{ user.supervisor }}</td>
	</tr>  
        <tr>
          <td><b>Personal web page:</b></td>
          <td><a href="{{ user.webpage }}">{{ user.webpage }}</a></td>
	</tr>  
        <tr>
          <td><b>OpenID: </b></td>
          <td><font size=2><a href="{{ user.openid }}">{{ user.openid }}</a></font></td>
	</tr>  
      </table>


  <table>
  <tr><td>
     <table border=0 width="100%" bgcolor="#eeeeee">
        <tr>
          <td colspan=2 bgcolor="#5f99ff" align=center><b>Actions</b>
        <tr>
          <td><a href="/userdb/user/changepassword/{{ user.pk }}">Change password</a>
        <tr>
          <td><a href="/userdb/user/edit/{{ user.pk }}">Edit user details</a>
        <tr>
          <td><a href="/cgi-bin/mybadc/mybadc.cgi.pl?action=logout">Logout</a>
     </table>
   </td>
   <td>
     <table bgcolor="#eeeeee" width="100%">
        <tr>
          <td bgcolor="#5f99ff" align=center><b>Data</b></td>
        </tr>
        <tr>
          <td><a title="List all datasets available and apply for access" href="/data/dataset_index">Apply for datasets</a></td>
        </tr>
        <tr>
          <td><a href="/data/submit.html">Submit data</a></td>
        </tr>
        <tr>
          <td><a href="/cgi-bin/data_browser/data_browser/requests/{{ user.accountid }}" title="Download the data you have requested">My requested data</a></td>
        </tr>
      </table>
  </td></tr>
  </table>

    <td valign="top">
	  <!-- middle of 3 major columns -->
	        <table bgcolor="#eeeeee" width=100%>
        <tr>
          <td colspan="2" bgcolor="#5f99ff" align=center><b>My Licences</b></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><font size=2><em><a href="/cgi-bin/mybadc/list_datasets.cgi.pl">Show details</a></em></font></td>
        </tr>
        <tr>
          <td> 
            <table width="100%">
              <tr>
                <th>Related Service or dataset</th>
		<th>Role</th>
                <th>Licence details</th>
              </tr>
	      {% for l in licences %}
              <tr>
                <td><font size="2"><a href="{{l.group.infourl}}">{{ l.group }}</a></font></td>
		<td>{{ l.role }}</font></font></td>
                <td><font size="2"> <a title="Veiw licence" 
		    href="/userdb/licence/view/{{ l.id }}">Licence</a></td>
              </tr>
	       {% endfor %}
            </table>
            </td>
        </tr>
      </table>

	</td>
    <td valign="top">
	<!-- rightmost of 3 major columns -->

      </table>

</table>



</body>
</html>
