<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
 <head>
  <title>Licences for user : {{user}}</title>
 </head>

 <body>
 <h1>Licences</h1>

<table>
<tr>
<td><b>Name:</b></td>
<td>{{user}}</td>
</tr>
<tr>
<td><b>Account ID:</b></td>
<td>{{user.accountid}}</td>
</tr>
</table>
<p>
<center><hr></center>
<p>
<b>You are currently a member of the following groups:</b>
<p>
<table>
<th>Dataset</th><th>Access granted</th><th>Expires</th><th>Research</th></th>

	{% for licence in licences_active %}
		<tr>
		<td width=25%><a href="{{licence.role.infourl}}">{{licence.role}}</a>
		<td nowrap>{{licence.endorseddate}}
		<td nowrap>{{licence.expiredate}}
		<td height=3>{{licence.research}}<td>
		<tr>
	{% endfor %}
</table>
<p>
<b>You have the following pending group requests:</b>
<p>
<blockquote>No datasets are pending</blockquote>
<p>
<b>The following groups have been removed from your account:</b>
<p>
<table cellspacing=10>
<th>Dataset</th><th>Access granted</th><th>Access removed</th><th>Research</th></th><th>Reapply</th>
	{% for licence in licences_removed %}
	<tr>
		<td width="25%"><a href="http://www.neodc.rl.ac.uk/browse/neodc/nextmap">{{licence.role}}</a></td>
		<td nowrap>{{licence.endorseddate}}</td>
		<td nowrap>{{licence.removeddate}}</td>
		<td height="3">{{licence.research}}</td>
		<td><a target="_blank" href="{{licence.role.extrainfo}}">Re-apply</a></td>
	</tr>
	{% endfor %}
</table>
 </body>
</html>
