



<html>
  <head>
    <title>User stats</title>
  </head>

<body>


<form action="." method="post">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>


<h1>Registered users</h1>

Users currently registered for one or more datasets. Total number of registered users: {{ total }}
 
<p>{{ times }}
 
<h2>... by field</h2>
<table>
<tr>
  <td>
     <table>
       <tr><th>Field</th><th>#Users</th></tr>
       {% for r in byfield %}
          <tr><td>{{ r.field }}</td><td>{{ r.count }}</td></tr>
        {% endfor %}
     </table>
  </td><td>
 <img src="http://chart.apis.google.com/chart?chs=500x200&cht=p&chd=t:{{ byfield_values|join:',' }}&chl={{ byfield_labels|join:'|' }}&chco=FFFF00,00FFFF,FF00FF,FF0000,00FF00,0000FF">
  </td></tr> 
</table>  

<h2>... by area</h2> 
<table>
<tr>
  <td>
     <table>
       <tr><th>area</th><th>#Users</th></tr>
       {% for r in byarea %}
          <tr><td>{{ r.institute__country__area }}</td><td>{{ r.count }}</td></tr>
        {% endfor %}
     </table>
  </td><td>
    <img src="http://chart.apis.google.com/chart?chs=500x200&cht=p&chd=t:{{ byarea_values|join:',' }}&chl={{ byarea_labels|join:'|' }}&chco=FFFF00,00FFFF,FF00FF,FF0000,00FF00,0000FF">
  </td></tr> 
</table>  


<h2>... by institute type</h2>
<table>
<tr>
  <td>
     <table>
       <tr><th>itype</th><th>#Users</th></tr>
       {% for r in byitype %}
          <tr><td>{{ r.institute__itype }}</td><td>{{ r.count }}</td></tr>
        {% endfor %}
     </table>
  </td><td>
   <img src="http://chart.apis.google.com/chart?chs=500x200&cht=p&chd=t:{{ byitype_values|join:',' }}&chl={{ byitype_labels|join:'|' }}&chco=FFFF00,00FFFF,FF00FF,FF0000,00FF00,0000FF">
  </td></tr> 
</table>  
 
</body> 
</html>





