<html>
<head>
<title>My BADC</title>
</head>
<body>
<table width="100%">
  <!-- main layout table -->
  <tr>
    <td valign="top" width="35%">
	  <!-- leftmost of 3 major columns -->
 

<form action="." method="post">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>

<b>Institute:</b>{{ user.institute.name }} 
<b>Country:</b>{{ user.institute.country }}
<b>Type:</b>{{ user.institute.itype }}
 

  <table>
  
  <tr><td>
     <table border=0 width="100%" bgcolor="#eeeeee">
        <tr>
          <td colspan=2 bgcolor="#5f99ff" align=center><b>Actions</b>
        <tr>
          <td><a href="/userdb/user/{{ user.username }}/password/">Change password</a>
        <tr>
          <td><a href="/cgi-bin/mybadc/mybadc.cgi.pl?action=logout">Logout</a>
     </table>
   </td>
   <td>
     <table bgcolor="#eeeeee" width="100%">
        <tr>
          <td bgcolor="#5f99ff" align=center><b>Data</b></td>
        </tr>
        <tr>
          <td><a title="List all datasets available and apply for access" href="/data/dataset_index">Apply for datasets</a></td>
        </tr>
        <tr>
          <td><a href="/data/submit.html">Submit data</a></td>
        </tr>
        <tr>
          <td><a href="/cgi-bin/data_browser/data_browser/requests/{{ user.accountid }}" title="Download the data you have requested">My requested data</a></td>
        </tr>
      </table>
  </td></tr>
  </table>

    <td valign="top">
	  <!-- middle of 3 major columns -->
	        <table bgcolor="#eeeeee" width=100%>
        <tr>
          <td colspan="2" bgcolor="#5f99ff" align=center><b>My Licences</b></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><font size=2><em><a href="/cgi-bin/mybadc/list_datasets.cgi.pl">Show details</a></em></font></td>
        </tr>
        <tr>
          <td> 
            <table width="100%">
              <tr>
                <th>Related Service or dataset</th>
		<th>Role</th>
                <th>Licence details</th>
              </tr>
	      {% for l in licences %}
              <tr>
                <td><font size="2"><a href="{{l.group.infourl}}">{{ l.group }}</a></font></td>
		<td>{{ l.role }}</font></font></td>
                <td><font size="2"> <a title="Veiw licence" 
		    href="/userdb/licence/{{ user.username }}/{{ l.group.name }}/{{ l.id }}">Licence</a></td>
              </tr>
	       {% endfor %}
            </table>
            </td>
        </tr>
      </table>

	</td>
    <td valign="top">
	<!-- rightmost of 3 major columns -->

      </table>

</table>



</body>
</html>
