

{% extends "base_site.html" %}
{% load i18n %}


{% block content %}



<h1>Link {{grant.title}} to a project</h1>

<form>
<input type="text" name="search" value="{{search}}"/>
<input type="submit" value="Search"/>
</form>
<a href="?search={{grant.title}}">Search for grant title</a> |
<a href="?search={{grant.pi}}">Search for grant PI</a> |
<a href="?search={{grant.number}}">Search for grant reference</a> |
<a href="/dmp/grant/{{grant.id}}/project_from_rss_export">Make new project from DataMAD</a>


<h3>Projects with "{{search}}" in title</h3>
<table>
{% for p in projects_bytitle %}
 <tr> 
 <td> <a href="/admin/dmp/project/{{p.pk}}">{{p.title}}</a></td>
 <td> {{p.PI}} </td>
 <td> <a href=?project={{p.pk}}>Link grant to project</a></td>
 </tr>
{% endfor %}
</table>

<h3>Projects with "{{search}}" in description</h3>
<table>
{% for p in projects_bydesc %}
 <tr> 
 <td> <a href="/admin/dmp/project/{{p.pk}}">{{p.title}}</a></td>
 <td> {{p.PI}} </td>
 <td> <a href=?project={{p.pk}}>Link grant to project</a></td>
 </tr>
{% endfor %}
</table>

<h3>Projects with "{{search}}" in PI</h3>
<table>
{% for p in projects_bypi %}
 <tr> 
 <td> <a href="/admin/dmp/project/{{p.pk}}">{{p.title}}</a></td>
 <td> {{p.PI}} </td>
 <td> <a href=?project={{p.pk}}>Link grant to project</a></td>
 </tr>
{% endfor %}
</table>


	
{% endblock %}
