<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
	    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
	    <title>{%block title %}{% endblock %}</title>
		<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
	</head>
	<body>
	    <h1>CedaInfoDb</h1><a href="/home">[home]</a>
		{% block header %}{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}
		    <p>&nbsp;</p>
		{% endblock %}
	</body>
</html>