/* CSS numbers reminder 0,0,0,0 corresponds to top right bottom left */

/* Generic css */

* {
	margin:0;
	padding:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

body {
    background-color:#eeeeee;
    margin:auto; }
    
table,form {margin: 0; padding: 0;}
p {padding: 2px; }
ol {padding-left:20px;}
ul {padding-left:20px;}

.errorlist li {color:red;}

a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.tiny {
	font-size: 0.6em;
}
.small {
	font-size: 0.6em;
}
.greybgd {
	background-color:#dddddd;
}
.darkgreybgd {
	background-color:#cccccc;
}
.lightgreybgd {
	background-color:#eeeeee;
}