

Hello

<table>
{% for p in projects %}
  <tr>

  <td>{{ p.ReferenceNumber }} [<a href="/newproj?grantno={{ p.ReferenceNumber }}">Make project</a>]
    <br> {{ p.Title }} </td>
  <td>{{ p.Abstract }}</td>
  <td>PI: {{ LeadInvestigator }}, {{ LeadInvestigator.Institution }}<br>
      {{ p.CoInvestigators }}
     
   </td>

  <td>{{ Institution }}, {{ Department }}</td>
  <td>{{ State }} | {{ JesState }} | {{ Type }} | {{ ProgrammeType }} |
      {{ ProgrammeName }} | {{ ScienceAreas }} |{{ OverallClassification }} |
      {{ PRC }} </td>
  <td>{{ StartDate }} - {{ EndDate }} Cost:{{ Value }} </td>
  </tr>
{% endfor %}
</table>
