<h1>Programmes</h1>

<h2>Projects by status</h2>
{% autoescape off %}
{{ projectstatuschart }}
{% endautoescape %}

<h2>Data products by status</h2>
{% autoescape off %}
{{ datastatuschart }}
{% endautoescape %}

<h2>For each Programme...</h2>
{% if prog_list %}
    <table>
    <tr>
      <th>Programme</th>
      <th>sciSupContact</th>
      <th>Number of projects</th>
      <th>data products</th>
    </tr>
    {% autoescape off %}
    {% for prog in prog_list %}
    <tr>
      <td><a href="/admin/proginfo/programme/{{ prog.id }}">{{ prog.name }}</a></td>
      <td>{{ prog.sciSupContact }}</td>
      <td>{{ prog.pstate }}</td>
      <td>{{ prog.dps }}</td>
    </tr>
    {% endfor %}
    {% endautoescape %}
    </table>
{% else %}
    <p>No programmes are available.</p>
{% endif %}

<a href="/admin/proginfo/programme/add" target="proginfoedit">Add programme</a> 
