
back to <a href="/admin/proginfo/programme/{{ prog.id }}">edit</a>


{{ costs }}

<h1>{{ prog.title }}: Data Managment Costs</h1>

***DRAFT***

<table>
<tr><th>Issue No.</th><th>Date</th><th>Description of Changes</th></tr>
<tr><td>1</td><td>{% now "Y-m-d" %}</td><td>Created from database</td></tr>
</table>		
		
<p>This document describes what the tasks we do in the science support group and how do we charge for them. 
The intention is that this document will form the basis of how we produce a budget, 
milestones and reports for supplementary SLA tasks.</p>

<h2>Scoping</h2>

<p>The scoping phase of a programme or project is an initial assessment of the data management task 
associated with the activity. This is formalised in a data management plan (DMP). Tasks included are:</p>
<ul>
  <li>Acquiring and reading project proposals in order to gather data management requirements</li>
  <li>Contacting PIs for extra information</li>
  <li>Writing a DMP, with initial data Selection, needs for input data and potential service developments</li>
  <li>Setting a data management budget</li>
  <li>Submitting the DMP and budget to the programme steering committee (or equivalent) to approve the plans </li>
</ul>

<p>The cost of the scoping is proportional to the size of the programme because as the number 
of projects, time scales, or number of people involved increases so the data needs and number of data 
products increases. For this reason the scoping activity is costed as a percentage of the total programme cost. 
Currently this is rated as 0.1% of the total programme cost, based on previous experience. Scoping will be an 
initial activity that needs to take place before any other. For this reason it is a cost bourn in the first year; 
large programmes may have multiple funding rounds that need the extra scoping activity as the programme continues.</p>

<p><b>For this programme {{ prog.programmeSize }}k * 0.1% = {{ scoping }}k </b></p>

<h2>Project tracking and reporting</h2>

<p>The tracking of projects within any programme is needed to update the data management needs as the projects 
progress. Status reports need to be supplied to steering committees. Tasks include:</p>
<ul>
  <li>Establishing a data contact for each project or work package.</li>
  <li>Refining the initial data Selection and other project data needs.</li>
  <li>Advising project participants on NERC data policy.</li>
  <li>Updating the DMP and submitting changes to the appropriate programme committee</li>
  <li>Providing representation for the data centre at programme steering and science meetings</li>
  <li>Reporting programme data activities to steering committees, science meetings and NERC </li>
</ul>

<p>As with scoping, this activity is largely dependent on the programme size. Currently this is rated 
as 0.4% of the total programme cost, based on previous experience. The phasing is linear over the programme, 
but as projects can be late the phasing of the work can be weighted towards the end of the programme. Travel 
costs for most meeting associated with the programme are included in this element; however excessive travel 
requirements may be reflected as an extra cost element.</p>

<p><b>For this programme {{ prog.programmeSize }}k * 0.4% = {{ tracking }}k </b></p>

<h2>Storage</h2>

<p>Storage media. These include:</p>
<ul>
  <li>Provision of high volume storage.</li>
  <li>Provision backup storage.</li>
  <li>Media for future data migration.</li>
</ul>

<p>The cost of data storage is not significant for a lot of projects, however some datasets require 
many terabytes of disk space. Additionally, costs for backup media and migration are also included. 
The cost of administration of the systems is borne by core data centre funding, but the cost of the 
extra media is charged to the programme. The cost of data storage is currently charged at &pound;1000/TB. 
The timing of storage costs will depend on the data production schedule.</p>

<p><b>For this programme: {{ storage }}k </b></p>

<h2>Data set documentation</h2>

<p>Documenting the data products is essential to allow reuse of the data and provide context. Tasks included are:</p>
<ul>
  <li>Writing metadata records for data production tools, observation stations and activities.</li>
  <li>Collating supporting documentation for metadata records.</li>
  <li>Documenting formats used</li>
  <li>Production of training resources and use guides </li>
</ul>

<p>Documentation is proportional to the number of new or updated metadata records produced. Metadata records 
are needed for data production tools, observation stations, activities and datasets. Estimating the total number 
of records and allowing 1 day's effort per record gives a measure of the effort needed for this task. The timing 
for this task should be linear over the programme.</p>

<p><b>For this programme {{ metadata }} days </b></p>

<h2>Ingest support</h2>

<p>Data produced by researchers requires a considerable amount of support in order to bring it up to the 
required standards for preservation and usability. Tasks include:</p>
<ul>
  <li>Negotiation with suppliers on issues of format</li>
  <li>Release of data sets</li>
  <li>Format support. Advising data suppliers on how to format data, producing example scripts and file templates.</li>
  <li>Creation of ingest scripts to automate file ingest</li>
  <li>Monitoring of ingested files, reporting problems </li>
  <li>Archive area setup and connection to dataset records</li>
  <li>Monitoring access and storage administration tasks. </li>
</ul>

<p>A separate pipeline of data flows from each instrument or model. The addition 
of new datasets also needs disk areas to be added and the access to be monitored. 
The support needed to bring each data stream 
up to standard and manage its ingestion varies widely, but an average of 4 day's effort per data production tool 
in charged. Ingest support tasks are most prevalent at the ends of projects, that is the cost should be weighted 
toward the end of the programme. Often these costs run past the end of the programme.</p>

<p><b>For this programme {{ ingest }} days </b></p>

<h2>Extras</h2>

<p>Any additional items are costed on an ad hoc basis. Examples of extras include:</p>

  <li>Extra quality control measures</li>
  <li>Third party data provision</li>
  <li>Data Purchasing</li>
  <li>Development of extra data access methods</li>
  <li>Development of new metadata supply methods or formats</li>
  <li>Other bespoke services (e.g. trajectory service)</li>
  <li>Multi data centre coordination tasks for inter-disciplinary science programmes</li>
  <li>Beyond routine travel requirements </li>




<h2>Project list</h2>
{% if proj_list %}

    {% for proj in proj_list %}
        <h3>{{ proj.title }} </h3>
	
	<table>
	<tr><td>PI: </td><td>{{ proj.PI }}</td></tr>
	<tr><td>Grant reference: </td><td>{{ proj.grant }}</td></tr>
	<tr><td>Dates: </td><td>{{ proj.Startdate }} - {{ proj.Enddate }}</td></tr>
	</table>
	
	<p>{{ proj.desc }}</p>
	
	
	<table> 
        {% for data in proj.data_list %}
	    <tr><td>{{ data.DPT }}</td></tr>
        {% endfor %}
        </table>
	
  {% endfor %}
    
    
{% else %}
    <p>No projects.</p>
{% endif %}
