<h1>Programme Help</h1>

Back to <a href="/admin/proginfo/programme/{{ prog.id }}">editing</a> the "{{ prog.name }}" programme

<p>A programme is a data producing activity that has a coherent funding line for data management.  
Examples are URGENT (a directed mode programme), NCAS-Weather (an NCAS core activitiy) or consortium grants (a NERC programme). It's a programme if this is 
the level at which the data management funding is administered. </p>

<p>The tool here is desighed to record a minimum information to scope and track the programme. Below are the attributes needed and what they mean.

<table>
<tr><td><b>Attribute name</b></td><td><b>Meaning</b></td><td><b>Value in for this programme</b></td><tr>
<tr> 
  <td>Name</td>
  <td>The short name of the programme.</td>  
  <td>{{ prog.name }}</td>
</tr>
<tr> 
  <td>Title</td>
  <td>The full title or long name of the programme.</td>  
  <td>{{ prog.title }}</td>
</tr>
<tr> 
  <td>Description</td>
  <td>A short description of the programme. This can come from the NERC website.</td>  
  <td>{{ prog.description|truncatewords:30  }}</td>
</tr>
<tr> 
  <td>SciSupContact</td>
  <td>The CEDA person responsible for dealing with the data mangment for this programme</td>  
  <td>{{ prog.sciSupContact }}</td>
</tr>
<tr> 
  <td>FundingContact</td>
  <td>The NERC or other funding body contact. This is person we contact for matters to do with budgets.</td>  
  <td>{{ prog.FundingContact  }}</td>
</tr>
<tr> 
  <td>ScienceContact</td>
  <td>Our main programme contact. This could be a science coordinator or a steering committee chair.</td>  
  <td>{{ prog.ScienceContact  }}</td>
</tr>
<tr> 
  <td>ProgrammeSize</td>
  <td>The financal size of the programme in k. This gives us an idea of the scale and 
  how many people we need to talk to. </td>  
  <td>{{ prog.ProgrammeSize  }}</td>
</tr>
<tr> 
  <td>Projectcode</td>
  <td>This is the STFC project code that relates to activities for this programme. 
  Some programmes will have many codes and these may be recorded at the project level as notes.</td>  
  <td>{{ prog.projectcode  }}</td>
</tr>
<tr> 
  <td>ScopingFunds</td>
  <td>Large projects may have funds specifically for scoping. This should be in k.</td>  
  <td>{{ prog.ScopingFunds }}</td>
</tr>
<tr> 
  <td>StartDate</td>
  <td>The start date of the programme.</td>  
  <td>{{ prog.StartDate  }}</td>
</tr>
<tr> 
  <td>EndDate</td>
  <td>The end date of the programme.</td>  
  <td>{{ prog.EndDate }}</td>
</tr>
<tr> 
  <td>State</td>
  <td>The current state of the programme. 
   <ul>
     <li>Unassessed: The programme is known, but no assessment has been carried out. </li>
     <li>Assessed: The programme has been assessed with all the relevant info found, 
          and found the programme is in scope for our data centres. 
	  All projects in the programme have a state of "Not scoped". </li>
     <li>Out of scope: The programme is not in the scope of the data centres. 
          Not action required by the data centres.</li>
     <li>Scoping: The projects in the programme are being scooped. 
          The initial DMP is being created. (There are some projects in the scoping phase 
	  and the DMP has not been accepted).<li>
     <li>Traking: The DMP has been accepted by the SC. Any projects in an accepted 
          DMP are moved to an "active state". Adding more projects that need 
	  scoping for a new round or late reporting does not move the programme 
	  state back to scoping, thus it is possible to have scoping projects in a 
	  DMP approved programme.</li>
     <li>Complete: All projects are complete.</li>
   </ul>
</td>  
  <td>{{ prog.state }}</td>
</tr>
<tr> 
  <td>Progtype</td>
  <td>The type of programme. This is uncontrolled and is there to flag similar programmes e.g.
  directed mode.</td>  
  <td>{{ prog.progtype }}</td>
</tr>
<tr> 
  <td>Unresponsive</td>
  <td>If the science and funding contacts are unresponsive. Then this flag should be ticked.</td>  
  <td>{{ prog.Unresponsive }}</td>
</tr>
<tr> 
  <td>Projects</td>
  <td>This is the list of assosiated projects. To add another project click on "Add new project". To
  edit an existing project click on items from the list.</td>  
  <td></td>
</tr>
<tr> 
  <td>Notes</td>
  <td>Add notes about the programme by typing text in the box and clicking "Add note". Text starting
  with http:// will appear as links, text starting with Q followed by a number will be a displayed as
  a link to a query (e.g. Q17), and text starting with a # then a number (e.g. #5000) links to a CEDA
  ticket.</td>  
  <td></td>
</tr>
</table>

