
back to <a href="/admin/proginfo/project/{{ proj.id }}">edit</a>

 


<table><tr><td width="50%" valign="top">To: {{proj.PI}}</td>
<td width=50%>The British Atmospheric Data Centre<br/>
STFC Rutherford Appleton Lab.<br/>
HSIC<br/>
Didcot<br/>
Oxfordshire<br/>
UK<br/>
OX11 0QX<br/>
Tel: 01235 446432<br/>
Email: science_support@ceda.ac.uk<br/><br/>
{% now "Y M d" %}
</td></tr> 
</table>
<br/>
<br/>

<b>Re:  Data Managment costs for {{ proj.title }}.</b>


<p>Dear {{proj.PI}},</p>
<p>This letter is to confirm that the data management support costs for the {{proj.title}} are estimated at &pound;{{costs.total}}. The service description below details how we derive these costs. 
Regards,</p>

 

<p>Sam Pepler<br/>
BADC Curation Manager</p> 



<hr/>


<h2>{{ proj.title }}: Data Managment Costs</h2>

<p>This document describes what the tasks done by CEDA in ingesting data from projects, and how do we charge for them. </p>



<table cellpadding="20">
<tr>		
<td valign="top">
<h3>Summay of costs by service</h3>
<table>
<tr><td>Scoping and Tracking</td><td> &pound;{{ costs.scoping_tracking }}</td></tr>
<tr><td>Ingest</td><td> {{ costs.ingest }} days</td></tr>
<tr><td>Storage</td><td> &pound;{{ costs.storage }} </td></tr>
<tr><td>Metadata</td><td> {{ costs.metadata }} days</td></tr>
</table>
</td>

</td>
<td valign="top">
<h3>Summary of cost over time</h3>
<table>
{%if  costs.FY2012 != 0.0 %}<tr><td>2012</td><td> {{ costs.FY2012 }} </td></tr>{% endif %}
{%if  costs.FY2013 != 0.0 %}<tr><td>2013</td><td> {{ costs.FY2013 }} </td></tr>{% endif %}
{%if  costs.FY2014 != 0.0 %}<tr><td>2014</td><td> {{ costs.FY2014 }} </td></tr>{% endif %}
{%if  costs.FY2015 != 0.0 %}<tr><td>2015</td><td> {{ costs.FY2015 }} </td></tr>{% endif %}
{%if  costs.FY2016 != 0.0 %}<tr><td>2016</td><td> {{ costs.FY2016 }} </td></tr>{% endif %}
{%if  costs.FY2017 != 0.0 %}<tr><td>2017</td><td> {{ costs.FY2017 }} </td></tr>{% endif %}
{%if  costs.FY2018 != 0.0 %}<tr><td>2018</td><td> {{ costs.FY2018 }} </td></tr>{% endif %}
{%if  costs.FY2019 != 0.0 %}<tr><th>Total</th><th> {{ costs.total }} </th></tr>{% endif %}
</table>
</td>
</tr>
</table>

<h2>Scoping and Tracking</h2>

<p>The scoping phase of a programme or project is an initial assessment of the data management task 
associated with the activity. This is formalised in a data management plan (DMP). Tasks included are:</p>
<ul>
  <li>Acquiring and reading project proposals in order to gather data management requirements</li>
  <li>Contacting PIs for extra information</li>
  <li>Writing a DMP, with initial data Selection, needs for input data and potential service developments</li>
  <li>Setting a data management budget</li>
  <li>Submitting the DMP and budget to the programme steering committee (or equivalent) to approve the plans </li>
</ul>

<p>The tracking of projects within any programme is needed to update the data management needs as the projects 
progress. Status reports need to be supplied to steering committees. Tasks include:</p>
<ul>
  <li>Establishing a data contact for each project or work package.</li>
  <li>Refining the initial data Selection and other project data needs.</li>
  <li>Advising project participants on NERC data policy.</li>
  <li>Updating the DMP and submitting changes to the appropriate programme committee</li>
  <li>Providing representation for the data centre at programme steering and science meetings</li>
  <li>Reporting programme data activities to steering committees, science meetings and NERC </li>
</ul>

<p>The cost of the scoping and tracking is proportional to the size of the project because as the time scales, 
or number of people involved increases so the data needs and number of data 
products increases. For this reason the scoping activity is costed as a percentage of the total project cost. 
Currently this is rated as 0.5% of the total project cost, based on previous experience. </p>

<p><b>For this project {{ proj.cost}}k * 0.1% = &pound;{{ costs.scoping_tracking }} </b></p>


<h2>Storage</h2>

<p>Storage media. These include:</p>
<ul>
  <li>Provision of high volume storage.</li>
  <li>Provision backup storage.</li>
  <li>Media for future data migration.</li>
</ul>

<p>The cost of data storage is not significant for a lot of projects, however some datasets require 
many terabytes of disk space. Additionally, costs for backup media and migration are also included. 
The cost of administration of the systems is borne by core data centre funding, but the cost of the 
extra media is charged to the programme. The cost of data storage is currently charged at &pound;700/TB. 
The timing of storage costs will depend on the data production schedule.</p>

<p><b>For this project: {{costs.volume}} TB * 700 =  &pound;{{ costs.storage}} </b></p>

<h2>Data set documentation</h2>

<p>Documenting the data products is essential to allow reuse of the data and provide context. Tasks included are:</p>
<ul>
  <li>Writing metadata records for data production tools, observation stations and activities.</li>
  <li>Collating supporting documentation for metadata records.</li>
  <li>Documenting formats used</li>
  <li>Production of training resources and use guides </li>
</ul>

<p>Documentation is proportional to the number of new or updated metadata records produced. Metadata records 
are needed for data production tools, observation stations, activities and datasets. Estimating the total number 
of records and allowing 1 day's effort per record gives a measure of the effort needed for this task.</p>

<p><b>For this Project: {{ costs.metadata }} days  </b></p>

<h2>Ingest support</h2>

<p>Data produced by researchers requires a considerable amount of support in order to bring it up to the 
required standards for preservation and usability. Tasks include:</p>
<ul>
  <li>Negotiation with suppliers on issues of format</li>
  <li>Release of data sets</li>
  <li>Format support. Advising data suppliers on how to format data, producing example scripts and file templates.</li>
  <li>Creation of ingest scripts to automate file ingest</li>
  <li>Monitoring of ingested files, reporting problems </li>
  <li>Archive area setup and connection to dataset records</li>
  <li>Monitoring access and storage administration tasks. </li>
</ul>

<p>A separate pipeline of data flows from each instrument or model. The addition 
of new datasets also needs disk areas to be added and the access to be monitored. 
The support needed to bring each data stream 
up to standard and manage its ingestion varies widely, but an average of 4 day's effort per data production tool 
in charged. </p>

<p><b>For this programme {{ costs.ingest }} days </b></p>

<h2>Extras</h2>

<p>Any additional items are costed on an ad hoc basis. Examples of extras include:</p>

  <li>Extra quality control measures</li>
  <li>Third party data provision</li>
  <li>Data Purchasing</li>
  <li>Development of extra data access methods</li>
  <li>Development of new metadata supply methods or formats</li>
  <li>Other bespoke services (e.g. trajectory service)</li>
  <li>Multi data centre coordination tasks for inter-disciplinary science programmes</li>
  <li>Beyond routine travel requirements </li>


