{% extends "base_site.html" %}
<title>Service certificate check</title>
{% block content %}

<h1>Service certificate check</h1>
Lists the certificate status for all production services. Certificate details come from the live services. A certificate
type of 'other' usually means the certificate
was obtained via STFC IT services (see <a href="https://ceda-internal.helpscoutdocs.com/article/4243-ssl-certificates-for-services-running-under-https">here</a> for information about how to order these). Click on table column headings to sort the table.
<p>
<p></p>
<table border="1">

  {% for header in headers %}
  <th>
    {% if header.sortable %}<a href="{{header.url|escape}}" title="Click to sort by this column">{% endif %}
      {{ header.text }}
      {% if header.sortable %}</a>{% endif %}
  </th>
  {% endfor %}
  <th><a href="{{request.path}}?orderby=cert-issuer">Cert issuer</a></th>
  <th><a href="{{request.path}}?orderby=cert-expire-date">Cert expire date</a></th>

  {% for service in services %}

  <tr>
    <td><a href="/admin/cedainfoapp/newservice/{{service.id}}">{{service.name}}</a>
    <td>{{service.visibility}}
    <td>{{service.status}}
    <td>{{service.host}}</td> 
    <td><a href="{{service.url}}">{{service.url}}</a></td>
    <td>{{service.cert_issuer}}</td>

    {% if service.cert_expire_date == '01-jan-1900' %}
    <td></td>
    {% else %}
    <td>{{service.cert_expire_date}}</td>
    {% endif %}
  </tr>
  {% endfor %}

</table>

{% endblock %}
