{% extends "base_site.html" %}

{% block content %}

<h1>Services listed by VM</h1>
<p>

</p>
Lists services with the selected status (default='production') by vm. <em>sysadmin</em> is taken from 'patch responsible' in the VM record.
Services in bold have their visibility set to a value other than 'public'.
<p>

<form method="get">
Display services with status: {{myform.status }}
<input type="Submit" value="Go">
</form>

</p>

<a href="/admin/cedainfoapp/newservice/">List all services</a>
|
<a href="/admin/cedainfoapp/vm/">List all VMs</a>

<p></p>

Number of vms: {{vms|length}}
<p>

<table border="1">

{% for header in headers %}
   <th>
     {% if header.sortable %}<a href="{{ header.url|escape }}" title="Click to sort by this column">{% endif %}
     {{ header.text }}
     {% if header.sortable %}</a>{% endif %}
   </th>{% endfor %}

<th>Service (Service admin)</th>
<th>All services</th>
<th>Icinga</th>
<th>Galglia</th>

{% for vm in vms %}

<tr>
<td><a href="/admin/cedainfoapp/vm/{{vm.id}}">{{vm.name}}</a></td>


<td>{{vm.patch_responsible.email}}</td>

    

<td>

{% for service in vm.prodservices %}
  
   {% if service.visibility != 'public' %}
       <li><b><a href="/admin/cedainfoapp/newservice/{{service.id}}">{{service.name}} ({{service.service_manager}})</a></b><br>
    {% else %}
       <li><a href="/admin/cedainfoapp/newservice/{{service.id}}">{{service.name}} ({{service.service_manager}})</a><br>

    {% endif %}
    
{% endfor %}

</td>

<td>
<a href="/admin/cedainfoapp/newservice/?Host={{vm.id}}">All services</a>
</td>

<td>
<a href="https://icinga2-master.esc.rl.ac.uk/icingaweb2/monitoring/host/show?host={{vm.name}}">Icinga</a>
</td>


{% if vm.type != 'legacy' %}
<td>
<a href="http://mgmt.jc.rl.ac.uk/ganglia/?r=day&cs=&ce=&c=JASMIN+Cluster&tab=m&vn=&mc=2&z=medium&metric_group=ALLGROUPS&h={{vm.name}}">Ganglia</a>
</td>
{% else %}
<td></td>
{% endif %}

</tr>
{% endfor %}

</table>

{% endblock %}

