{% extends "base_site.html" %}

{% block content %}

<h1>Services list for {{person.name}}</h1>

<a href="/services/owner_managers">List all users</a>

<h2>Services that I own (<a href="https://ceda-internal.helpscoutdocs.com/article/4652-service-manager-and-service-owner-definitions"">see definitions</a>)</h2>
Only services with the status 'production' or 'pre-production' are listed here.  You can also
<a href="/admin/cedainfoapp/newservice/?owner={{person.id}}"> list all services which
    you own</a> (regardless of status) or <a href="/admin/cedainfoapp/newservice/">list all services<a>
    (regardless of owner or status)

<p></p>

{% if owner_services|length_is:"0" %}
    <em> - No records to display.</em>
{% else %}

    <table border="1">
{% for header in owner_headers %}
   <th>
     {% if header.sortable %}<a href="{{ header.url|escape }}&username={{person.username}}" title="Click to sort by this column">{% endif %}
     {{ header.text }}
     {% if header.sortable %}</a>{% endif %}
   </th>

        {% endfor %}

    {% for service in owner_services %}

       <tr>
           <td><a title="Show service record" href="/admin/cedainfoapp/newservice/{{service.id}}">{{service.name}}</a></td>

           {% if service.documentation %}

               <td><a href="{{service.documentation}}">Helpscout</a></td>

           {% else %}
               <td style="background-color:red;">None</td>
           {% endif %}


           <td><a title="Show host details" href="/admin/cedainfoapp/vm/{{service.host.id}}">{{service.host}}</a></td>
          <td>{{service.host.os_required}}</td>
           <td>{{service.visibility}}</td>
       <td>{{service.status}}</td>
           <td>{{service.priority}}</td>
           <td><a href="{{request.path}}?username={{service.service_manager.username}}"
                  title="Show services list for this user">{{service.service_manager}}</a></td>

         {% if service.deputy_service_manager.username == None  and service.priority == "high" %}
            <td style="background-color:red;"><a href="{{request.path}}?username={{service.deputy_service_manager.username}}"
                  title="Show services list for this user">{{service.deputy_service_manager}}</a></td>

           {% else %}

           <td><a href="{{request.path}}?username={{service.deputy_service_manager.username}}"
                  title="Show services list for this user">{{service.deputy_service_manager}}</a></td>

           {% endif %}
       </tr>
{% endfor %}

</table>

{% endif %}



<h2>Services that I manage (<a href="https://ceda-internal.helpscoutdocs.com/article/4652-service-manager-and-service-owner-definitions"">see definitions</a>)</h2>
Only services with the status 'production' or 'pre-production' are listed here.  You can also
<a href="/admin/cedainfoapp/newservice/?manager={{person.id}}"> list all services which
    you manage</a> (regardless of status) or <a href="/admin/cedainfoapp/newservice/">list all services<a>
    (regardless of owner or status)
<p></p>

{% if manager_services|length_is:"0" %}
    <em> - No records to display.</em>
{% else %}

    <table border="1">
{% for header in manager_headers %}
   <th>
     {% if header.sortable %}<a href="{{ header.url|escape }}&username={{person.username}}" title="Click to sort by this column">{% endif %}
     {{ header.text }}
     {% if header.sortable %}</a>{% endif %}
   </th>

        {% endfor %}

    {% for service in manager_services %}

       <tr>
           <td><a title="Show service record" href="/admin/cedainfoapp/newservice/{{service.id}}">{{service.name}}</a></td>

           {% if service.documentation %}

               <td><a href="{{service.documentation}}">Helpscout</a></td>

           {% else %}
               <td style="background-color:red;">None</td>
           {% endif %}


           <td><a title="Show host details" href="/admin/cedainfoapp/vm/{{service.host.id}}">{{service.host}}</a></td>
          <td>{{service.host.os_required}}</td>
           <td>{{service.visibility}}</td>
       <td>{{service.status}}</td>
           <td>{{service.priority}}</td>
           <td><a href="{{request.path}}?username={{service.owner.username}}"
                  title="Show services list for this user">{{service.owner}}</a></td>

         {% if service.deputy_service_manager.username == None  and service.priority == "high" %}
            <td style="background-color:red;"><a href="{{request.path}}?username={{service.deputy_service_manager.username}}"
                  title="Show services list for this user">{{service.deputy_service_manager}}</a></td>

           {% else %}

           <td><a href="{{request.path}}?username={{service.deputy_service_manager.username}}"
                  title="Show services list for this user">{{service.deputy_service_manager}}</a></td>
         {% endif %}




       </tr>
{% endfor %}

</table>

{% endif %}

<h2>Virtual machines</h2>

Active VMs that you requested.
        <p></p>
{% if active_vms|length_is:"0" %}
    <em> - No records to display.</em>
{% else %}


    <table border="1">
<th>Name</th>
        <th>Type</th>
        <th>Operation type</th>
        <th>Request date</th>
        <th>Requestor</th>
<th>Status</th>
    {% for vm  in active_vms %}

       <tr>

           <td><a href="/admin/cedainfoapp/vm/{{vm.id}}">{{vm.name}}</a></td>
           <td>{{vm.type}}</td>
           <td>{{vm.operation_type}}</td>
           <td>{{vm.date_required}}</td>
           <td>{{vm.internal_requester}}</td>
           <td>{{vm.status}}</td>

       </tr>
{% endfor %}

</table>

{% endif %}



{% endblock %}