{% extends "base_site.html" %}

{% block content %}

<h1>Services for review</h1>
<p>

</p>

<p>

<form method="get">
Display services with <b>Review status:</b> {{myform.review_status}}
&nbsp;
<b>Visibility:</b> {{myform.visibility}}
&nbsp;
<b>Status:</b> {{myform.status}}
&nbsp;
<input type="Submit" value="Go">
</form>

</p>
<a href="http://ceda-internal.helpscoutdocs.com/article/4450-service-information-main-page">CEDA service information main page</a> 
</p> 
Numer of records displayed: {{services|length}}
</p>

<table border="1">

{% for header in headers %}
   <th>
     {% if header.sortable %}<a href="{{header.url|escape}}&review_status={{review_status}}&visibility={{visibility}}&status={{status}}" title="Click to sort by this column">{% endif %}
     {{ header.text }}
     {% if header.sortable %}</a>{% endif %}
   </th>
{% endfor %}


{% for service in services %}
  
<tr>
<td><a href="/admin/cedainfoapp/newservice/{{service.id}}">{{service.name}}</a>
<td>{{service.host}}
<td>{{service.review_status}}
<td>{{service.last_reviewed}}
<td>{{service.visibility}}
<td>{{service.service_manager}}
<td>{{service.owner}}
<td>{{service.status}}
</td>
{% endfor %}
</table>

{% endblock %}
