{% extends "base_site.html" %}

{% block content %}

<h1>List of all service owners and managers</h1>

The following table lists the number of services and VMs associated with a given user. Only services that have 'production'
status are counted and only VMs which are 'active'. Users who have no services or VMs are not show. Click on the users name to see
a detailed breakdown for that user.

<table>
    <th>Name</th>
    <th>Owner</th>
    <th>Manager</th>
    <th>Deputy manager</th>
{% for rec in counts %}
<tr>
    <td><a href="/services/list4team?username={{rec.username}}"</a>{{rec.name}}</td>
    <td>{{rec.owner_count}}</td>
    <td>{{rec.manager_count}}</td>
    <td>{{rec.deputy_manager_count}}</td>
</tr>

{% endfor %}

</table>

{% endblock %}
