{% extends "base_site.html" %}
<title>UptimeRobot service monitor check</title>
{% block content %}

<h1>UptimeRobot service monitor check</h1>

For each production CEDA service lists the coresponding <a href="https://uptimerobot.com">UptimeRobot</a> monitor. <a href="/services/uptimerobot">List of all UptimeRobot monitors</a>

<p></p>

<table border="1">

  {% for header in headers %}
  <th>
    {% if header.sortable %}<a
      href="{{header.url|escape}}&review_status={{review_status}}&visibility={{visibility}}&status={{status}}"
      title="Click to sort by this column">{% endif %}
      {{ header.text }}
      {% if header.sortable %}</a>{% endif %}
  </th>
  {% endfor %}

  <th>Monitor url</th>
  <th>Monitor name</th>

  {% for service in services %}

  <tr>
    <td><a href="/admin/cedainfoapp/newservice/{{service.id}}">{{service.name}}</a>
    <td>{{service.visibility}}
    <td>{{service.status}}
    <td>{{service.priority}}</t>

      {% if service.uptimerobot_monitor_id %}
    <td>{{service.uptimerobot_monitor_id}}</td>
    {% else %}
    <td></td>
    {% endif %}
    <td><a href="{{service.url}}">{{service.url}}</a></td>
    <td><a href="{{service.monitor.url}}">{{service.monitor.url}}</a></td>    
    <td>{{service.monitor.friendly_name}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
