{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'CEDA database administration' %}{% endblock %}

{% block branding %}

<h1 id="site-name"><A  HREF="http://badc.nerc.ac.uk"><IMG border="0" SRC="http://artefacts.ceda.ac.uk/graphics/logos/badc-logo-onblue-30.gif"></A>
{% trans 'CEDA database administration' %}
</h1>
{% endblock %}


{% block nav-global %}
 &nbsp; <a href="/">CEDAinfoDB</a>
| &nbsp;  <a href="https://ceda-internal.helpscoutdocs.com/article/4559-userdb-admin">UserDB</a>
| &nbsp; <a href="http://securitydb.ceda.ac.uk/admin">Security Database</a>

<p>
{% endblock %}
