{% extends "base.html" %}

{% block title %}
DataEntity list
{% endblock %}

{% block content %}
    <h2>DataEntity list </h2>
<p>View list in <a href="/admin/cedainfoapp/dataentity/">admin interface</a></p>

<table border="1">
	    <tr>
		<th><a href="?o=id">Id</a></th>
		<th><a href="?o=symbolic_name">Symbolic name (Friendly name)</a></th>
		<th><a href="?o=responsible_officer">Responsible Officer</a></th>
		<th><a href="?o=recipes_expression">Registration info</a></th>
		<th><a href="?o=-last_reviewed">Last reviewed</a></th>
		<th>Admin</th>
        </tr>
	    {% for de in dataentity_list %}
		    <tr>
	    	    <td><a href="/dataentity/{{de.id}}">{{de.id}}</a></td>
	    	    <td><a href="/dataentity/{{de.id}}">{{de.symbolic_name}} ({{de.friendly_name}})</a></td>
	    	    <td>{{de.responsible_officer}}</td>
	    	    <td>{{de.recipes_expression}}</td>
	    	    <td>{{de.last_reviewed}}</td>
	    	    <td><a href="/admin/cedainfoapp/dataentity/{{de.id}}">{{de.id}}</a></td>
			</tr>
        {% endfor %}
	</table>
{% endblock %}