{% extends "base.html" %}

{% block title %}
FileSetCollection view
{% endblock %}

{% block header %}
    <h2>FileSetCollection view</h2>
{% endblock %}

{% block content %}

<table border="1">
		<tr>
			<th>FileSetCollection</th>
			<td colspan="3">{{fsc}}</td>
		</tr>
		<tr>
			<th>Fileset</th>
			<th>Logical Path</th>
			<th>Primary</th>
			<th>Current Size</th>
			</tr>
	    {% for fscm in fscm_list %}
		    <tr>
	    	    <td><a href="/admin/cedainfoapp/fileset/{{fscm.fileset.id}}">{{fscm.fileset}}</a></td>
	    	    <td><a href="/admin/cedainfoapp/filesetcollectionmembership/{{fscm.id}}">{{fscm}}</a></td>
	    	    <td>{{fscm.is_primary}}</td>
	    	    <td>{{fscm.fileset.current_size}}</td>
			</tr>
        {% endfor %}
		<tr>
			<th colspan="3">Total current size (incl all FileSets)</th>
			<td>{{fsc.size_all_filesets_incl_nonprimary_sum}}</td>
		</tr>
		<tr>
			<th colspan="3">Total current size (primary FileSets only)</th>
			<td>{{fsc.size_all_filesets_primaryonly_sum}}</td>
		</tr>
	</table>
{% endblock %}