{% extends "base_site.html" %}

{% block title %}
FileSet maker
{% endblock %}


{% block content %}
<p>View list in <a href="/admin/cedainfoapp/fileset/">admin interface</a></p>

<h2>FileSet Maker </h2>

<p>Create a new fileset. The parent directory needs to exist.</p>

<form name="input" method="get">
Logical path: <input type="text" name="path" value="{{path|default_if_none:""}}"/>
Size: <input type="text" name="size" value="{{size|default_if_none:""}}" />
<input type="submit" value="Go" />
</form>

<div id="message">{{error}}</div>
<a href="/admin/cedainfoapp/fileset/{{fs.pk}}">{{fs.logical_path}}</a>
{% endblock %}
