{% extends "base.html" %}

{% block title %}
FileSetCollection setup workflow
{% endblock %}

{% block header %}
    <h2>FileSetCollection setup workflow</h2>
{% endblock %}

{% block content %}
<ul>
	<li><a href="/filesetcollection/link" target="_blank">1. Choose a FileSetCollection and a PartitionPool. Make archive directories and link them.</a></li>
	<li><a href="/filesetcollection/make_filesets" target="_blank">2. Parse a CSV file to define FileSets for a FileSetCollection</a></li>
	<li><a href="/filesetcollection/allocate" target="_blank">3. Allocate partitions to each FileSet within a ParitionPool</a></li>
</ul>
{% endblock %}