{% extends "base.html" %}

{% block title %}
FileSet list
{% endblock %}

{% block header %}
    <h2>FileSet list </h2>
{% endblock %}

{% block content %}
<p>View list in <a href="/admin/cedainfoapp/fileset/">admin interface</a></p>

<table border="1">
	    <tr>
			<th><a href="?o=id">Id</a></th>
			<th><a href="?o=logical_path">Logical Path</a></th>
			<th>Admin</th>
			</tr>
	    {% for fs in fileset_list %}
		    <tr>
	    	    <td><a href="/fileset/{{fs.id}}">{{fs.id}}</a></td>
	    	    <td><a href="/fileset/{{fs.id}}">{{fs.logical_path}}</a></td>
	    	    <td><a href="/admin/cedainfoapp/fileset/{{fs.id}}">{{fs.id}}</a></td>
			</tr>
        {% endfor %}
	</table>
{% endblock %}