{% extends "base_site.html" %}
{% load sizefieldtags  %}

{% block title %}
Group Workspaces Dashboard
{% endblock %}

{% block content %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1.1', {packages:['corechart', 'table', 'controls']});
	google.setOnLoadCallback(drawDashboard);
      function drawDashboard() {
	  
	    // Initial data table
        var dataTable = google.visualization.arrayToDataTable([
		['GWS', 'Path', 'Manager', 'Used', 'Requested'],
		{% for i in items %}
          [
			'{{i.name}}',
			'{{i.path}}',
			'{{i.gws_manager}}',
			{{i.used_volume}},
			{{i.requested_volume}}],
			
		{% endfor %}
        ]);

    // Functions
    function UsedBytesToTb(dataTable, rowNum) {
      return Math.round( 100 * (dataTable.getValue(rowNum, 3) / (1024 * 1024 * 1024 * 1024))) / 100;
    }
	
    function RequestedBytesToTb(dataTable, rowNum) {
      return Math.round( 100 * (dataTable.getValue(rowNum, 4) / (1024 * 1024 * 1024 * 1024))) / 100;
    }
	
    function RequestedBytesStackedTb(dataTable, rowNum) {
      return Math.round( 100 * ((dataTable.getValue(rowNum, 4) - dataTable.getValue(rowNum, 3)) / (1024 * 1024 * 1024 * 1024))) / 100;
    }
	
	function getColumnTotalByMatch(dataTable, columnNum, matchColumn, matchValue) {
		// Sum values in column of a table, where there is a match matchValue in matchColumn
		var row_count = dataTable.getNumberOfRows();
		var columnTotal = 0;
		
		for (i = 0; i < row_count; i++) { // iterate over rows
			// if value in matchColumn matches matchValue, add to the total
			if (dataTable.getValue(i, matchColumn) == matchValue) {
			  columnTotal += dataTable.getValue(i, columnNum);
			}
		}
		columnTotalFormatted = Math.round(columnTotal*100)/100;
		
		return columnTotalFormatted;
	}
        
    // Read-only DataView of initial DataTable, with added calc'd columns
    var myDataView = new google.visualization.DataView(dataTable);
    myDataView .setColumns(
    [
      0,
      1,
      2,
      3,
      4,
      {calc:UsedBytesToTb, type:'number', label:'Used Tb'},
      {calc:RequestedBytesStackedTb, type:'number', label:'Requested Tb'},
      {calc:RequestedBytesToTb, type:'number', label:'Requested Tb', role:'tooltip'}
    ]);
      
        // Define a category picker control for the Gender column
        var categoryPicker = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'control1',
          'options': {
            'filterColumnLabel': 'Path',
            'ui': {
            'labelStacking': 'vertical',
              'allowTyping': false,
              'allowMultiple': false
            }
          }
        });
      
        // Define a Pie chart
        var barChart = new google.visualization.ChartWrapper({
          'chartType': 'BarChart',
          'containerId': 'chart1',
          'options': {
            'width': 650,
            'height': 700,
            'vAxis': {title: 'GWS',  titleTextStyle: {color: 'red'}},
            'hAxis': {title: 'Volume (units)',  titleTextStyle: {color: 'red'}, },
            'title': 'GWS Usage',
            'chartArea': {left:160,top:30,width:"55%",height:"65%"},
            'isStacked': true
          },
          'view': {'columns': [0, 5, 6, 7]}
        });
      
        // Define a table with data about the Group Workspaces
        var table1 = new google.visualization.ChartWrapper({
          'chartType': 'Table',
          'containerId': 'chart2',
          'options': {
            'width': 900
          },
          'view': {'columns': [0,1,2,5,7]}
        });
	
		// Define dataTable object to hold totals
		totalData = new google.visualization.DataTable();
		totalData.addColumn('string', 'Path');
		totalData.addColumn('number', 'Total Used');
		totalData.addColumn('number', 'Total Requested');
		
		totalData.addRows([
			['CEMS', getColumnTotalByMatch(myDataView, 5, 1, '/group_workspaces/cems/'), getColumnTotalByMatch(myDataView, 7, 1, '/group_workspaces/cems/'),],
			['JASMIN', getColumnTotalByMatch(myDataView, 5, 1, '/group_workspaces/jasmin/'), getColumnTotalByMatch(myDataView, 7, 1, '/group_workspaces/jasmin/'),]

		]);
		var totalDataTable = new google.visualization.Table(document.getElementById('chart3'));
      
        // Create a dashboard
        new google.visualization.Dashboard(document.getElementById('dashboard')).
            // Establish bindings, declaring the both the slider and the category
            // picker will drive both charts.
            bind([categoryPicker], [barChart, table1]).
            // Draw the entire dashboard.
            draw(myDataView);
			
		// draw totals table separately for now
		totalDataTable.draw(totalData, null);
      }
      

      google.setOnLoadCallback(drawVisualization);
    </script>
<h2>Group Workspaces Dashboard</h2>

    <div id="dashboard">
      <table>
        <tr style='vertical-align: top;'>
          <td>
            <div style="float: left;" id="control1"></div>

			<div style="float: right;" id="chart3"></div>
          </td>
		</tr>
		<tr>
          <td>
            <div style="float: left;" id="chart1"></div>
            <div style="float: left;" id="chart2"></div>
          </td>
        </tr>
      </table>
    </div>


{% endblock %}


