{% extends "base_site.html" %}

{% block title %}
Host list
{% endblock %}

{% block header %}
<h2>Hosts {{subset}}</h2>
{% endblock %}

{% block content %}
	<table border="1">
	    <tr>
		<th><a href="?o=id">id</a></th>
		<th><a href="?o=hostname">hostname</a></th>
        <th><a href="?o=ip_addr">ip_addr</a></th>
        <th><a href="?o=serial_no">serial_no</a></th>
        <th><a href="?o=po_no">po_no</a></th>
        <th><a href="?o=organization">organization</a></th>
        <th><a href="?o=supplier">supplier</a></th>
        <th><a href="?o=arrival_date">arrival_date</a></th>
        <th><a href="?o=planned_end_of_life">planned_end_of_life</a></th>
        <th><a href="?o=retired_on">retired_on</a></th>
        <th><a href="?o=notes">notes</a></th>
        <th><a href="?o=host_type">host_type</a></th>
        <th>Admin</th>
        </tr>
	    {% for host in host_list %}
		    <tr>
	    	    <td><a href="/host/{{host.id}}">{{host.id}}</a></td>
	    	    <td><a href="/host/{{host.id}}">{{host.hostname}}</a></td>
	            <td>{{host.ip_addr}}</td>
	            <td>{{host.serial_no}}</td>
	            <td>{{host.po_no}}</td>
	            <td>{{host.organization}}</td>
	            <td>{{host.supplier}}</td>
	            <td>{{host.arrival_date}}</td>
	            <td>{{host.planned_end_of_life}}</td>
	            <td>{{host.retired_on}}</td>
	            <td>{{host.notes}}</td>
	            <td>{{host.host_type}}</td>
	            <td><a href="/admin/cedainfoapp/host/{{host.id}}">{{host.id}}</a></td>
			</tr>
        {% endfor %}
	</table>
{% endblock %}
