{% extends "base_site.html" %}

{% block title %}
    CEDA Storage Problems Summary
{% endblock %}

{% block content %}

    <h2>CEDA Storage Problems Summary</h2>

    <a href="/admin">View using Django admin interface</a>

 <h4>Fileset problems</h4>

{% for p in fileset_problems %}
    <li>{{ p|safe }}</li>
{% endfor %}

 <h4>Partition problems</h4>

{% for p in fileset_problems %}
    <li>{{ p|safe }}</li>
{% endfor %}
 <h4>Audit problems</h4>

{% for p in audit_problems %}
    <li>{{ p|safe }}</li>
{% endfor %}


{% endblock %}
