{% extends "base.html" %}

{% block title %}
Services by rack
{% endblock %}

{% block header %}
<h2>Services by rack</h2>
{% endblock %}

{% block content %}

<table border="1">
  <tr>
    <th>Rack {{rack}}</th>
    <td>Select a rack:
      {% for item in all_racks %}
        <span class="tiny"><a href="/rack/services/{{item.id}}">[{{item}}]&nbsp;</a></span>
      {% endfor %}
    </td>
  </tr>

  <tr>
    <th><a href="/admin/cedainfoapp/rack/{{rack.id}}" title="{{rack}}"><img src="/static/images/rack_colour.png" width="60" height="99" border="0" alt="{{rack}}" title="rack : {{rack}}"></a></th>
    <td>
      <table>
        <tr>
          <td>
            {% if hosts %}
              <table border="1">
                {% for host in hosts %}
                  <tr class="{% cycle 'greybgd' 'darkgreybgd' %}">
                    <td class="lightgreybgd">
                      {% ifequal host.host_type "hypervisor_server" %}
                        <span class="cell_normal"><a href="/admin/cedainfoapp/host/{{host.id}}" title="hypervisor server: {{host}}"><img src="/static/images/set_hypervisor.png" width="69" height="34" border="0" alt="hypervisor server: {{host}}"><br>{{host}}</a></span>
                      {% else %} 
                                                                                          {% ifequal host.host_type "storage_server" %}
                        <span class="cell_normal"><a href="/admin/cedainfoapp/host/{{host.id}}" title="storage server: {{host}}"><img src="/static/images/storage.jpg" width="69" height="34" border="0" alt="storage server: {{host}}"><br>{{host}}</a></span>
                        {% else %}
                        <span class="cell_normal"><a href="/admin/cedainfoapp/host/{{host.id}}" title="physical server: {{host}}"><img src="/static/images/set_large_server.png" width="69" height="34" border="0" alt="physical server: {{host}}"><br>{{host}}</a></span>
                        {% endifequal %}
                      {% endifequal %}
                      

                      <!-- Partitions belonging to this host -->
                      {% for part in host.partitions %}
                       <span class="tiny"><a href="/admin/cedainfoapp/partition/{{part.id}}" title="partition: {{part}}"><img src="/static/images/disk.png" width="40" height="40" border="0" alt="partition: {{part}}">{{part.mountpoint}}</a></span>
                      {% endfor %}                      



                      <!-- Services belonging to this host -->
                      {% for key,value in services_by_host.items %}
                        {% ifequal key host %}
                        {% ifnotequal value.count 0 %}
                            <table border="0">
                              <!-- <tr>
                                <th colspan="2">Services</th>
                              </tr> -->
                            {% for service in value %}
                              <tr>
                                <td>
                                  <span class="tiny"><a href="/admin/cedainfoapp/service/{{service.id}}" title="service: {{service.name}}"><img src="/static/images/service.png" border="0" alt="{{service.name}}">{{service.name}}</a></span>
                                </td>
                              </tr>

                            {% endfor %}
                            </table>

                        {% endifnotequal %}
                        {% endifequal %}                                  
                      {% endfor %}                      
                    </td>
                    <td>
                      <!-- Virtual hosts belonging to this host -->
                      {% for key,value in vms_by_hypervisor.items %}
                        {% ifequal key host %}
                          {% ifnotequal value.count 0 %}
                            <table border="1">
                              <tr valign="top">
                                {% for vm in value %}
                                  <td width="200px">
                                    <span class="cell_small"><a href="/admin/cedainfoapp/host/{{vm.id}}"  title="virtual server: {{vm}}"><img src="/static/images/set_virtual_server.png" width="69" height="34" border="0" alt="{{vm}}"><br>{{vm}}</a></span>
                                    <!-- Services belonging to this host -->
                                    {% for k,v in services_by_host.items %}
                                      {% ifequal k vm %}
                                        {% ifnotequal v.count 0 %}
                                          <table border="0">
                                            <!-- <tr>
                                              <th colspan="2">Services</th>
                                            </tr> -->
                                          {% for s in v %}
                                            <tr>
                                              <td>
                                                <span class="tiny"><a href="/admin/cedainfoapp/service/{{s.id}}" title="service: {{s.name}}"><img src="/static/images/service.png" border="0" alt="{{s.name}}">{{s.name}}</a></span>
                                                
                                              </td>
                                            </tr>

                                          {% endfor %}
                                          </table>

                                        {% endifnotequal %}
                                      {% endifequal %}                                  
                                    {% endfor %}
                                  </td>
                                {% endfor %}
                              </tr>
                            </table>
                          {% endifnotequal %}
                        {% endifequal %}                      
                      {% endfor %}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            {% endif %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock %}
