{% extends "base_site.html" %}

{% block title %}
Uptime robot monitors
{% endblock %}

{% block header %}
<title>Uptimerobot monitors</title>
{% endblock %}

{% block content %}
<h2>List of current UptimeRobot monitors</h2>

This page lists all current UptimeRobot monitors. See <a href="/services/uptimerobot-check">UptimeRobot services
    check</a> to check that all CEDA services have an UptimeRobot monitor.

<p></p>
<table border="1">
    <th>ID</th>
    <th>Name</th>
    <th>url</th>
    {% for monitor in monitors %}
    <tr>
        <td>{{monitor.id}}</td>
        <td>{{monitor.friendly_name}}</td>
        <td><a href="{{monitor.url}}">{{monitor.url}}</a></td>
    </tr>
    {% endfor %}

</table>

<table border="1">

    {% for service in services %}
    <tr>
        <td>{{service.name}}</td>
        <td>{{service.status}}</td>
    </tr>
    {% endfor %}

</table>


{% endblock %}