{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrastyle %}
<link type="text/css" href="/static_files/dmp.css" rel="stylesheet" />
{% endblock %} 

{% block object-tools %}

<img style="height:30px; align:right" src="/static_files/granticon.jpg"/>

{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if not original.title %}
      <li><a href="/dmp/grant/{{original.id}}/scrape" class="historylink">Scrape info from GOTW</a></li>
    {% endif %}
    <li>{{original.gotw|safe}}</li>
    {% if not original.project %}
    <li><a href="/dmp/grant/{{original.id}}/scrape_project" class="historylink">Make new project from scrape</a></li>
    {% endif %}    
    {% if original.project %}
    <li><a style="background-color:#99ddcc" href="/admin/dmp/project/{{original.project.id}}" class="historylink">{{original.project.title}}</a></li>
    {% endif %}
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>

{% endif %}{% endif %}
{% endblock %}

